<a href="https://colab.research.google.com/github/alishaminj12/alisha_data690/blob/main/assignment_05/Data%20Cleaning/Handling_Missing_Data_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 05
- Name - Alisha Minj
- Date - 03-05-2022

## Handling Missing Data with Pandas

In [68]:
import numpy as np
import pandas as pd

### Pandas utility functions

In [69]:
pd.isnull(np.nan)

True

In [70]:
pd.isnull(None)

True

In [71]:
pd.isna(np.nan)

True

In [72]:
pd.isna(None)

True

In [73]:
#opposite ones 
pd.notnull(None)

False

In [74]:
pd.notnull(np.nan)

False

In [75]:
pd.notna(np.nan)

False

In [76]:
pd.notnull(3)

True

In [77]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [78]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [79]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True



### Pandas Operations with Missing Values

In [80]:
pd.Series([1, 2, np.nan]).count()

2

In [81]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [82]:
pd.Series([2, 2, np.nan]).mean()

2.0

### Filtering missing data

In [83]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [84]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [85]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [86]:
pd.notnull(s).sum()

4

In [87]:
pd.isnull(s).sum()

2

In [88]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [89]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [90]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [91]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64



### Dropping null values

In [92]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [93]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

### Dropping null values on DataFrames

In [94]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})

In [95]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [96]:
df.shape

(4, 4)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 256.0 bytes

In [98]:
df.isnull()

   Column A  Column B  Column C  Column D
0     False     False      True     False
1      True     False     False     False
2     False     False     False     False
3      True      True     False     False

In [99]:
df.isnull().sum()

Column A    2
Column B    1
Column C    1
Column D    0
dtype: int64

In [100]:
# dropna- will drop all the rows in which any null value is present
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [101]:
df.dropna(axis=1)  # axis='columns' also works

   Column D
0         5
1         8
2        34
3       110

In [102]:
df2 = pd.DataFrame({
    'Column A': [1, np.nan, 30],
    'Column B': [2, np.nan, 31],
    'Column C': [np.nan, np.nan, 100]
})

In [103]:
df2

   Column A  Column B  Column C
0       1.0       2.0       NaN
1       NaN       NaN       NaN
2      30.0      31.0     100.0

In [104]:
df.dropna(how='all')

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [105]:
df.dropna(how='any')  # default behavior

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [106]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [107]:
df.dropna(thresh=3)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34

In [108]:
df.dropna(thresh=3, axis='columns')

   Column B  Column C  Column D
0       2.0       NaN         5
1       8.0       9.0         8
2      31.0      32.0        34
3       NaN     100.0       110



### Filling null values

In [109]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

#Filling nulls with a arbitrary value

In [110]:
s.fillna(0)

0    1.0
1    2.0
2    3.0
3    0.0
4    0.0
5    4.0
dtype: float64

In [111]:
s.fillna(s.mean())

0    1.0
1    2.0
2    3.0
3    2.5
4    2.5
5    4.0
dtype: float64

In [112]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

#Filling nulls with contiguous (close) values

In [113]:
s.fillna(method='ffill')

0    1.0
1    2.0
2    3.0
3    3.0
4    3.0
5    4.0
dtype: float64

In [114]:
s.fillna(method='bfill')

0    1.0
1    2.0
2    3.0
3    4.0
4    4.0
5    4.0
dtype: float64

In [115]:
pd.Series([np.nan, 3, np.nan, 9]).fillna(method='ffill')

0    NaN
1    3.0
2    3.0
3    9.0
dtype: float64

In [116]:
pd.Series([1, np.nan, 3, np.nan, np.nan]).fillna(method='bfill')

0    1.0
1    3.0
2    3.0
3    NaN
4    NaN
dtype: float64

### Filling null values on DataFrames

In [117]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [118]:
df.fillna({'Column A': 0, 'Column B': 99, 'Column C': df['Column C'].mean()})

   Column A  Column B  Column C  Column D
0       1.0       2.0      47.0         5
1       0.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3       0.0      99.0     100.0       110

In [119]:
df.fillna(method='ffill', axis=0)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110

In [120]:
df.fillna(method='ffill', axis=1)

   Column A  Column B  Column C  Column D
0       1.0       2.0       2.0       5.0
1       NaN       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3       NaN       NaN     100.0     110.0



### Checking if there are NAs

In [121]:
s.dropna().count()

4

In [122]:
missing_values = len(s.dropna()) != len(s)
missing_values

True

In [123]:
len(s)

6

In [124]:
s.count()

4

In [125]:
missing_values = s.count() != len(s)
missing_values

True

In [126]:
pd.Series([True, False, False]).any()

True

In [127]:
pd.Series([True, False, False]).all()

False

In [128]:
pd.Series([True, True, True]).all()

True

In [129]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [130]:
pd.Series([1, np.nan]).isnull().any()

True

In [131]:
pd.Series([1, 2]).isnull().any()

False

In [132]:
s.isnull().any()

True

In [133]:
s.isnull().values

array([False, False, False,  True,  True, False])

In [134]:
s.isnull().values.any()

True