<a href="https://colab.research.google.com/github/alishaminj12/alisha_data690/blob/main/assignment_03/assignment03_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 03**

- Name- Alisha Minj
- Date- 02-18-2022

**Program that generates 100 random integers between 0 and 9.**

**1. Create a 10 by 10 matrix neatly arranged with one space between each number:**

In [1]:
import random

In [2]:
for x in range(10):
   for y in range(10):
      print(random.randint(0,9), end=" ")
# print("\n", end="")        
   print("")

0 5 8 5 7 0 5 4 5 8
9 8 2 2 7 9 1 8 0 1
8 9 5 1 3 4 0 1 1 0
3 9 7 4 5 5 3 6 2 5
2 1 8 5 4 0 8 2 2 7
3 5 3 3 0 9 0 3 9 7
1 8 3 1 1 2 6 1 6 5
8 1 6 1 1 3 4 3 2 7
1 2 1 5 2 8 0 1 9 7
4 5 9 2 6 1 4 4 4 5

**2. If the random number is an odd number, print "@" instead:**

In [3]:
for x in range(10):

   for y in range(10):

       i = random.randint(0,9)
       if i%2 == 1:
        print("@", end=" ")
       else:
        print(i, end= " ")

   print("\n", end="")

8 4 @ 0 @ 6 0 8 2 6
@ @ @ @ 2 2 4 8 @ @
@ @ 0 @ 4 @ 0 0 @ @
6 @ 8 @ 6 2 6 @ @ @
@ @ 4 @ 6 2 @ @ @ @
@ 2 4 @ @ @ @ 6 4 @
0 @ @ 0 6 @ 6 @ @ 0
@ @ 8 4 @ 8 4 2 @ @
@ @ 2 8 @ @ @ @ 2 @
@ @ 6 4 4 @ @ 6 @ 6

**3. Calculate and Print the total of each row and use "*" to separate the total from the numbers:**

In [4]:
for x in range(10):

  sum= 0
  for y in range(10):
    i=random.randint(0,9)
    sum= sum+i
    print(i, end=" ")

  print(end=" * ")
  print(sum)

2 3 0 9 7 7 0 6 8 3  * 45
0 6 2 3 5 0 9 2 1 4  * 32
9 8 1 9 9 7 6 6 2 5  * 62
8 6 5 2 8 4 4 1 3 0  * 41
8 1 6 7 9 5 7 7 2 4  * 56
3 1 8 4 7 8 1 0 5 8  * 45
6 6 4 7 9 6 1 9 4 6  * 58
1 1 9 8 1 5 6 3 1 4  * 39
0 7 5 1 8 1 8 8 2 7  * 47
2 3 2 2 0 7 9 2 8 7  * 42

**4. Surround the matrix with asterisks (*):**

In [5]:
for i in range(1):
  print("*"*23, end=" ")
print()

for x in range(10):
  print("*",end=" ")
  for y in range(10):
    print(random.randint(0,9), end=" ")

  print("*")

for j in range(1):
  print("*"*23, end=" ")

***********************
* 1 7 3 3 0 9 3 2 4 9 *
* 2 3 4 9 1 2 0 1 5 8 *
* 7 6 0 4 9 7 4 1 0 9 *
* 3 0 1 9 4 2 9 9 6 0 *
* 4 9 4 8 1 6 4 2 2 1 *
* 7 0 0 1 9 3 3 3 2 8 *
* 7 7 7 3 1 8 5 8 9 4 *
* 6 1 5 9 8 4 5 6 0 4 *
* 3 7 1 1 8 0 1 5 1 3 *
* 1 0 9 8 1 7 9 0 5 3 *
***********************

**5. Calculate and Print the total of each row and column with asterisk to separate the total from matrix:**

In [6]:
sum = [0]*10  
for x in range(0,10): 
    i= 0 
    for y in range(0,10):  
        num=(random.randint(0,9))
        i= i+(num)  
        sum[y] = sum[y] + num  
        print(num, end="  ") 
    print("*", i)  
for a in range(0,10):
    print("*", end="  ")  
print("\n", end="")  
for b in range(0,10):
    print(sum[b], end=" ")

5  5  3  3  4  6  8  1  2  6  * 43
9  7  1  3  6  0  3  2  6  4  * 41
9  7  2  5  2  4  8  2  3  2  * 44
1  4  6  5  1  3  4  7  6  9  * 46
7  7  7  8  3  4  2  3  1  2  * 44
4  7  0  8  6  9  1  0  5  6  * 46
0  4  4  9  5  4  9  1  2  2  * 40
2  0  9  2  5  8  5  7  6  6  * 50
5  4  3  8  0  7  9  1  6  1  * 44
0  5  2  9  0  7  0  0  5  6  * 34
*  *  *  *  *  *  *  *  *  *
42 50 37 60 32 52 49 24 42 44