<a href="https://colab.research.google.com/github/alishaminj12/alisha_data690/blob/main/assignment_04/inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice
- Name- Alisha Minj
- Date- 02/21/22

In [1]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 @ @ 6 4 @ @ @ @ @ 0
 8 @ @ 6 6 @ @ @ 2 @
 @ 2 4 @ @ @ @ @ 0 @
 @ 2 4 4 @ @ @ @ 8 @
 4 4 2 8 @ 6 8 @ @ 6
 @ 0 6 2 0 4 2 0 4 8
 @ @ 6 @ @ 8 2 4 0 6
 0 4 4 @ 4 @ 2 8 @ 8
 6 @ 2 @ 6 @ @ 8 0 @
 6 2 @ @ @ 8 8 6 0 6

In [2]:
x = "Hello, wporld!"
print(x)

Hello, wporld!

In [21]:
x = x.replace("p", "")
print(x)

hi, World!

In [22]:
x = x.replace("Hello", "Hi") 
print(x)

hi, World!

In [24]:
x = x.replace("w", "W")
print(x)

hi, World!

In [25]:
x = x.upper()

print(x)

HI, WORLD!

In [26]:
x = x.lower()
print(x)

hi, world!

# String functions/methods/operations

- upper()
- lower()
- replace()
- strip()
- lstrip()
- rstrip()

In [27]:
# generate 100 number first

numbers=[]   # This list is to hold 100 random numbers
for i in range(100):
  numbers.append(random.randint(0,9))

print(numbers)
print(len(numbers))

[5, 5, 1, 3, 8, 6, 1, 1, 8, 5, 0, 6, 9, 1, 2, 3, 2, 7, 4, 5, 5, 2, 6, 4, 4, 7, 2, 1, 6, 4, 3, 3, 9, 7, 0, 8, 7, 3, 8, 9, 3, 5, 0, 2, 2, 2, 5, 7, 7, 3, 9, 0, 6, 5, 0, 9, 9, 5, 2, 7, 4, 3, 4, 4, 8, 7, 6, 7, 9, 0, 9, 3, 2, 3, 0, 5, 8, 8, 8, 6, 4, 4, 0, 9, 5, 5, 1, 8, 2, 9, 4, 7, 6, 1, 0, 5, 4, 0, 0, 8]
100

In [33]:
for i in range(0,100,1):
  print(numbers[i])

5
5
1
3
8
6
1
1
8
5
0
6
9
1
2
3
2
7
4
5
5
2
6
4
4
7
2
1
6
4
3
3
9
7
0
8
7
3
8
9
3
5
0
2
2
2
5
7
7
3
9
0
6
5
0
9
9
5
2
7
4
3
4
4
8
7
6
7
9
0
9
3
2
3
0
5
8
8
8
6
4
4
0
9
5
5
1
8
2
9
4
7
6
1
0
5
4
0
0
8

In [35]:
for i in range(0,100,1):
  print("index = ",i, "numbers = ", numbers[i])

index =  0 numbers =  5
index =  1 numbers =  5
index =  2 numbers =  1
index =  3 numbers =  3
index =  4 numbers =  8
index =  5 numbers =  6
index =  6 numbers =  1
index =  7 numbers =  1
index =  8 numbers =  8
index =  9 numbers =  5
index =  10 numbers =  0
index =  11 numbers =  6
index =  12 numbers =  9
index =  13 numbers =  1
index =  14 numbers =  2
index =  15 numbers =  3
index =  16 numbers =  2
index =  17 numbers =  7
index =  18 numbers =  4
index =  19 numbers =  5
index =  20 numbers =  5
index =  21 numbers =  2
index =  22 numbers =  6
index =  23 numbers =  4
index =  24 numbers =  4
index =  25 numbers =  7
index =  26 numbers =  2
index =  27 numbers =  1
index =  28 numbers =  6
index =  29 numbers =  4
index =  30 numbers =  3
index =  31 numbers =  3
index =  32 numbers =  9
index =  33 numbers =  7
index =  34 numbers =  0
index =  35 numbers =  8
index =  36 numbers =  7
index =  37 numbers =  3
index =  38 numbers =  8
index =  39 numbers =  9
index =  40 numbers =  3
index =  41 numbers =  5
index =  42 numbers =  0
index =  43 numbers =  2
index =  44 numbers =  2
index =  45 numbers =  2
index =  46 numbers =  5
index =  47 numbers =  7
index =  48 numbers =  7
index =  49 numbers =  3
index =  50 numbers =  9
index =  51 numbers =  0
index =  52 numbers =  6
index =  53 numbers =  5
index =  54 numbers =  0
index =  55 numbers =  9
index =  56 numbers =  9
index =  57 numbers =  5
index =  58 numbers =  2
index =  59 numbers =  7
index =  60 numbers =  4
index =  61 numbers =  3
index =  62 numbers =  4
index =  63 numbers =  4
index =  64 numbers =  8
index =  65 numbers =  7
index =  66 numbers =  6
index =  67 numbers =  7
index =  68 numbers =  9
index =  69 numbers =  0
index =  70 numbers =  9
index =  71 numbers =  3
index =  72 numbers =  2
index =  73 numbers =  3
index =  74 numbers =  0
index =  75 numbers =  5
index =  76 numbers =  8
index =  77 numbers =  8
index =  78 numbers =  8
index =  79 numbers =  6
index =  80 numbers =  4
index =  81 numbers =  4
index =  82 numbers =  0
index =  83 numbers =  9
index =  84 numbers =  5
index =  85 numbers =  5
index =  86 numbers =  1
index =  87 numbers =  8
index =  88 numbers =  2
index =  89 numbers =  9
index =  90 numbers =  4
index =  91 numbers =  7
index =  92 numbers =  6
index =  93 numbers =  1
index =  94 numbers =  0
index =  95 numbers =  5
index =  96 numbers =  4
index =  97 numbers =  0
index =  98 numbers =  0
index =  99 numbers =  8

In [28]:
count=0
for i in range(10):
  for j in range(10):
    print(numbers[count]," ", end=" ")
    count+=1
  print("\n")

5   5   1   3   8   6   1   1   8   5

0   6   9   1   2   3   2   7   4   5

5   2   6   4   4   7   2   1   6   4

3   3   9   7   0   8   7   3   8   9

3   5   0   2   2   2   5   7   7   3

9   0   6   5   0   9   9   5   2   7

4   3   4   4   8   7   6   7   9   0

9   3   2   3   0   5   8   8   8   6

4   4   0   9   5   5   1   8   2   9

4   7   6   1   0   5   4   0   0   8

In [36]:
# when to initialize a variable

sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

9 0 5 0 0 7 5 3 8 4 * 41
7 4 1 3 9 2 3 6 2 8 * 45
0 0 0 3 3 4 9 5 0 9 * 33
0 1 3 1 6 5 8 7 7 5 * 43
3 5 1 5 2 9 0 8 7 8 * 48
8 6 3 5 0 5 5 8 4 7 * 51
5 0 7 1 5 6 5 4 5 5 * 43
5 0 9 3 0 2 2 2 1 0 * 24
4 3 0 5 2 5 3 9 9 2 * 42
3 4 1 1 9 0 7 8 5 4 * 42